@*@using FirstMvc.Models;

@model FirstMvc.Models.Film*@

@model FirstMvc.ViewModels.RandomFilmViewModel


@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Film.Cim</h2>
@*<h2>@((ViewData["Film"] as Film).Cim)</h2>*@
@*<h2>@ViewBag.Film.Cim</h2>*@

